<template>
	<div id="app">
		<h1>Asics Matrix Multiplication</h1>

		<section class="container">
			<div class="row">
				<div class="col-6 table-responsive" v-for="(matrix, index) in matrices" v-bind:key="`table-${index}`">
					<table class="table" >
						<thead>
						<tr>
							<th :colspan="columnCount(matrix)">Matrix {{ index + 1 }} ({{ columnCount(matrix) }} cols,
								{{ rowCount(matrix) }} rows)
							</th>
							<th :rowspan="rowCount(matrix)" v-if="! rowIndex && ! resultMatrix">
								<a href="#" @click.prevent="addColumn(matrix)" class="btn btn-primary" tabindex="-1">+</a>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(row, rowIndex) in matrix" v-bind:key="`tr-${row}-${rowIndex}`">
							<td v-for="(col, colIndex) in row" v-bind:key="`td-${col}-${colIndex}`">
								<input type="number" min="0" step="1" v-model.number="matrix[rowIndex][colIndex]" :readonly="resultMatrix" placeholder=0 />
							</td>
						</tr>
						<tr v-if="! resultMatrix">
							<td :colspan="columnCount(matrix)">
								<a href="#" @click.prevent="addRow(matrix)" class="btn btn-primary" tabindex="-1">+</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="alert alert-danger" v-if="invalid" v-cloak>
						The column count ({{ columnCount(matrices[0]) }}) in the first matrix must be equal to the row count
						({{ rowCount(matrices[1]) }}) of the second matrix.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 buttons">
					<button class="btn btn-primary" type="submit" @click="submit()" :disabled="invalid">Multiply</button>
					<button class="btn btn-info" type="reset" @click="reset()">Reset</button>
				</div>
			</div>
		</div>




		<section class="container" v-if="resultMatrix">
			<div class="row">
				<div class="col-12">
					<table class="table">
						<thead>
							<tr>
								<th :colspan="columnCount(resultMatrix)">Result Matrix</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(row, rowIndex) in resultMatrix" v-bind:key="`result-tr-${row}-${rowIndex}`">
								<td v-for="(col, colIndex) in row" v-bind:key="`result-td-${col}-${colIndex}`">
									{{ resultMatrix[rowIndex][colIndex] }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import axios from 'axios';

export default {
	name: 'App',
	data() {
		return {
			matrices: [],
			resultMatrix: null,
		}
	},

	// reset the application on init
	created() {
		this.reset();
	},

	computed: {
		invalid() {
			// the column count in the first matrix must be equal to the row count of the second matrix
			return this.columnCount(this.matrices[0]) !== this.rowCount(this.matrices[1]);
		}
	},

	methods: {
		addColumn(matrix) {
			matrix.forEach(row => {
				row.push(null);
			});
		},

		addRow(matrix) {
			matrix.push(new Array(this.columnCount(matrix)));
		},

		rowCount(matrix) {
			return matrix.length;
		},

		columnCount(matrix) {
			return matrix[0].length;
		},

		submit() {
			// using a POST request (instead of GET) to avoid param serialization
			axios.post('http://localhost:8000/api/calculate', {
				matrix1: this.matrices[0],
				matrix2: this.matrices[1]
			}).then(response => {
				this.resultMatrix = response.data.data;
			})
			.catch(error => {
				alert(error.response.data.message);
			});
		},

		reset() {
			// reset the result matrix
			this.resultMatrix = null;

			// set the two default matrices (2x2)
			this.matrices = [
				[new Array(2), new Array(2)],
				[new Array(2), new Array(2)]
			];
		},
	}
}
</script>

<style>
.table {
	width: auto;
}

.buttons .btn:first-child {
	margin-right: 20px;
}

input {
	width: 100px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
	margin-bottom: 100px;
}
</style>
